<div class="header">
  <img src="assets/Imagenes/PortadaRegistro.webp" alt="Snow" style="width:100%;">
  <div class="centered">
<div class="container">
  <form th:action="@{/registro}" method="post" th:object="${perfil}">
    <div class="row">
      <div class="col-25">
        <label for="email"></label>
      </div>
      <div class="col-75">
        <input type="email" [(ngModel)]="perfil.email" name="email" placeholder="Email" required="required">
      </div>
    </div>
       <div class="row">
          <div class="col-25">
             <label for="password"></label>
          </div>
          <div class="col-75">
             <input type="password" name="password" [(ngModel)]="perfil.password" placeholder="Contraseña" required="required" maxlength="99">
          </div>
       </div>
       <div class="row">
          <div class="col-25">
             <label for="nombre"></label>
          </div>
          <div class="col-75">
             <input type="text" [(ngModel)]="perfil.nombre" name="nombre" placeholder="Nombre completo" required="required" maxlength="45">
          </div>
       </div>
       <div class="row">
          <div class="col-25">
             <label for="edad"></label>
          </div>
          <div class="col-75">
             <input type="number" name="edad" [(ngModel)]="perfil.edad" placeholder="Edad" min="18" max="99" required="required" maxlength="2">
          </div>
       </div>
       <div class="row">
          <div class="col-25">
             <label for="genero"></label>
          </div>
          <div class="col-75">
             <select id="genero" name="genero" [(ngModel)]="perfil.genero" required="required">
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
             </select>
          </div>
       </div>
       <div class="row">
          <div class="col-25">
             <label for="subject"></label>
          </div>
          <div class="col-75">
             <textarea id="descripcion" [(ngModel)]="perfil.descripcion" name="descripcion" placeholder="Cuéntanos algo sobre ti..." style="height:200px" required="required" maxlength="450"></textarea>
          </div>
       </div>
      <div class="row">
          <button class="btn-registro center" (click)="crearPerfil()" style="user-select: none;" >REGÍSTRARSE</button>
      </div>
      </form>
    </div>
</div>