<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
  <div class="topnav" id="myTopnav">
    <a class="logo" href="#"><img class="LogoLucaTinder" alt="LucaTinder" src="assets/Imagenes/Logo-LucaTinderBN.webp"></a>
    <a routerLink="login" class="derecha">Iniciar sesión</a>
    <a routerLink="add" class="derecha">Registrarse</a>
    <a href="javascript:void(0);" class="icon" onclick="FuncionResponsive()">
    <i class="fa fa-bars" style="color: white;"></i>
    </a>
  </div>
</header>

<body>
  <main>
    <router-outlet></router-outlet>
  </main>
</body>