<div class="container" style="text-align:center">

    <h1>Inicio de sesión</h1> 
    <form class="form">
      <div *ngIf="!perfilLogged">
      <p>
        <input type="text" [(ngModel)]="perfil.email" name="email" placeholder="Email"><br />
        <input type="password" name="password" placeholder="Password" autocomplete="on"></p>
      <p>
        <button type="submit" (click)="onSubmit()"id="login-button" class="btn btn-outline-success">Login</button></p></div>       
    </form>
    <!--El usuario {{perfilLogged.email}} está activo<br/>-->
<!-- fijate que en el componente esto es un objeto-->
<div *ngIf="perfilLogged">
    <hr/>
    The content below is only a placeholder and can be replaced.
    <div style="text-align:center">
      <h2>
        Welcome to {{ title }}!
      </h2>
      El usuario {{perfilLogged.email}} está activo<br/>
        <!--<app-home></app-home>-->
    </div>
    
  </div>

</div>